@page
@model WomensTechForum2._0.Pages.CookiePolicyModel
@{
    ViewData["Title"] = "Cookie Policy";
}
<div class="container my-4">

    <h1>@ViewData["Title"] för <span class="text-warning">Women's tech forum</span></h1>
    <p class="text-muted">Senast uppdaterad: 2023-06-05</p>

    Denna cookiepolicy förklarar hur Women's tech forum använder cookies och liknande tekniker på vår webbplats. 
    Genom att använda vår webbplats samtycker du till att vi använder cookies i enlighet med denna policy. 
    Vi kan komma att uppdatera denna policy med jämna mellanrum, så se till att du granskar den regelbundet för att vara informerad om eventuella ändringar.

    <span class="fw-bolder">1. Vad är cookies?</span>
    Cookies är små textfiler som placeras på din dator eller mobila enhet när du besöker en webbplats. 
    De används för att förbättra din användarupplevelse genom att till exempel komma ihåg dina inställningar och preferenser.
    Cookies kan också användas för att samla in information om hur du använder webbplatsen, vilket hjälper oss att förbättra och anpassa den.
    <br />

    <span class="fw-bolder">2. Vilka typer av cookies använder vi?</span>
    Vi använder följande typer av cookies på vår webbplats:
    <br />
    Nödvändiga cookies: Dessa cookies är nödvändiga för att webbplatsen ska fungera korrekt och för att du ska kunna använda grundläggande funktioner som sidnavigering, 
    åtkomst till säkra områden och inloggning.
    <br />
    Prestandacookies: Dessa cookies samlar in information om hur besökare använder webbplatsen, 
    till exempel vilka sidor som besöks oftast och om de får felmeddelanden. 
    Informationen som samlas in är anonym och används endast i syfte att förbättra webbplatsens funktionalitet.
    <br />
    Funktionscookies: Dessa cookies gör det möjligt för webbplatsen att komma ihåg dina val och inställningar,
    såsom språkpreferenser och regionval. Detta gör att vi kan erbjuda en mer personlig och skräddarsydd upplevelse.
    <br />
    Tredjepartscookies: Vissa av våra sidor kan innehålla inbäddat innehåll från tredjepartswebbplatser,
    till exempel videospelare och sociala medieknappar. Dessa tredjepartswebbplatser kan placera cookies på din enhet när du interagerar med deras innehåll. 
    Vi har ingen kontroll över dessa cookies och rekommenderar att du granskar de tredjepartswebbplatsernas cookiepolicy för att få mer information.
    <br />
    <span class="fw-bolder">3. Hantering av cookies</span>
    Du kan hantera och kontrollera cookies efter eget behag. De flesta webbläsare tillåter dig att neka eller acceptera cookies och att radera befintliga cookies från din enhet.
    Kom dock ihåg att om du inaktiverar cookies kan vissa funktioner på vår webbplats bli otillgängliga eller fungera felaktigt.
    <br />
    <span class="fw-bolder"> 4. Samtycke</span>
    Genom att använda vår webbplats samtycker du till vår användning av cookies enligt denna policy. 
    Om du inte samtycker till användningen av cookies, vänligen avstå från att använda vår webbplats eller justera dina cookieinställningar i din webbläsare.
    <br />
    <span class="fw-bolder"> 5. Kontakta oss</span>
    Om du har några frågor eller funderingar angående vår cookiepolicy, vänligen kontakta oss på mail: info@womenstechforum.com.

    </div>
