@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container my-4">

<h1>@ViewData["Title"] för <span class="text-warning">Women's tech forum</span></h1>

<p class="text-muted">Senast uppdaterad: 2023-06-01</p>

<p>Vi på <span class="fst-italic">Women's tech forum</span> värnar om din integritet och strävar efter att skydda dina personuppgifter på bästa möjliga sätt. 
    Denna sekretesspolicy beskriver hur vi samlar in, använder, skyddar och delar information som samlas in från användare av Women's tech forum (nedan kallad "tjänsten").

Genom att använda tjänsten samtycker du till insamling och användning av information i enlighet med denna sekretesspolicy. 
Om du inte samtycker till någon del av policyn bör du avstå från att använda tjänsten.</p>

<span class="fw-bolder">1. Insamling av information</span>

1.1 Personuppgifter
Vi kan komma att samla in personuppgifter från dig när du registrerar dig för ett konto på vårt forum eller när du frivilligt tillhandahåller information genom att delta i
forumaktiviteter såsom att skriva inlägg eller svara på trådar. Personuppgifter kan inkludera, men är inte begränsade till, ditt namn, din e-postadress och andra uppgifter du väljer att ge oss.

        1.2 Automatiskt insamlad information
Vi kan automatiskt samla in viss information när du använder tjänsten, inklusive din IP-adress, webbläsartyp, referens-URL och aktiviteter på forumet. Denna information hjälper oss att förstå och förbättra användarnas upplevelse på vår plattform.
<br />
    <span class="fw-bolder">
        2. Användning av information</span>

Vi använder den insamlade informationen för följande ändamål:

2.1 För att tillhandahålla och underhålla tjänsten.
2.2 För att anpassa din användarupplevelse på forumet.
2.3 För att kommunicera med dig angående ditt konto, forumaktiviteter och viktiga meddelanden.
2.4 För att analysera användning och trender på forumet för att förbättra tjänsten.
<br />
    <span class="fw-bolder">
        3. Delning av information</span>

Vi kan komma att dela informationen med följande parter:

3.1 Tredjepartsleverantörer
Vi kan anlita tredjepartsleverantörer och tjänsteleverantörer för att underlätta vår tjänst och tillhandahålla vissa funktioner på vårt forum.
Dessa parter har endast tillgång till din information i den utsträckning som behövs för att utföra sina tjänster åt oss och är skyldiga att inte dela eller använda informationen för något annat ändamål.

3.2 Rättsliga ändamål
        Vi kan också komma att dela informationen om vi, i god tro, anser att det är nödvändigt för att uppfylla en laglig förpliktelse, skydda våra rättigheter eller skydda säkerheten för andra användare av tjänsten.
        <br />
    <span class="fw-bolder">
        4. Dataskydd och säkerhet</span>

        Vi vidtar lämpliga tekniska och organisatoriska åtgärder för att skydda dina personuppgifter mot oavsiktlig förlust, obehörig åtkomst eller användning, ändring eller avslöjande. 
        Vi strävar efter att säkerställa att din information behandlas säkert och i enlighet med denna sekretesspolicy. 
        Tyvärr kan ingen dataöverföring över internet eller elektronisk lagring garanteras vara 100% säker, så vi kan inte garantera absolut säkerhet för din information.
        <br />
    <span class="fw-bolder">
        5. Behållning av information</span>

        Vi behåller din personliga information så länge som det är nödvändigt för att uppfylla ändamålen som anges i denna sekretesspolicy, om det inte krävs en längre lagringstid enligt tillämplig lagstiftning.
        <br />
    <span class="fw-bolder">
        6. Dina rättigheter</span>

        Du har vissa rättigheter gällande din personliga information. Du har rätt att begära tillgång till och korrigering av dina personuppgifter som vi har i våra register.
        Du kan också begära att vi raderar eller begränsar användningen av dina personuppgifter. 
        För att utöva dessa rättigheter eller om du har några frågor eller bekymmer angående denna sekretesspolicy, vänligen kontakta oss via mail: info@womenstechforum.com.
        <br />
    <span class="fw-bolder">
        7. Ändringar av sekretesspolicyn</span>

        Vi förbehåller oss rätten att uppdatera eller ändra denna sekretesspolicy när som helst.
        Vi kommer att meddela dig om väsentliga ändringar genom att publicera den reviderade versionen på vår webbplats eller via e-post. 
        Vi uppmanar dig att regelbundet granska denna sekretesspolicy för att hålla dig informerad om eventuella ändringar.

        Genom att fortsätta använda tjänsten efter eventuella ändringar av denna sekretesspolicy samtycker du till de uppdaterade villkoren.
        <br />
    <span class="fw-bolder">
        8. Kontaktinformation</span>

    Om du har några frågor eller bekymmer angående denna sekretesspolicy eller vår hantering av din information, vänligen kontakta oss via mail: info@womenstechforum.com.

        Tack för att du väljer att vara en del av Women's tech forum. Vi strävar efter att skapa en säker och givande plattform för kvinnor inom techbranschen och ser fram emot att fortsätta stödja och främja era karriärer och gemenskapen som helhet.

</div>